body {

  text-align: center;
  background: rgba(0, 0, 0, 1.0)



}


h1 {

  text-align: center;
  color: #00cc00;
  font-size: 35px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: capitalize;
  margin-top: 70px;
}

p {
  color: #00cc00;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;


}

label {
  color: #00cc00;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

form {

  color: #00cc00
}
